<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
    </head>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <body>
                     
        <header>
            <ul>
                <li><a href="/">Home</a></li>
                {% if session.get('user',default=None) != None %}
                <li><a href="/logout">Logout</a></li>
                <p>logged in as {{user['username']}}</p>
                <select onchange="location = this.options[this.selectedIndex].value;">
                    {% if page == "home" %}
                    <option value="/" selected>Home</option>
                    {% else %}
                    <option value="/">Home</option>
                    {% endif %}{% if page == "reminders" %}
                    <option value="/reminders" selected >Reminders</option>
                    {% else %}
                    <option value="/reminders">Reminders</option>
                    {% endif %}{% if page == "ideas" %}
                    <option value="/ideas" selected>Ideas</option>
                    {% else %}
                    <option value="/ideas">Ideas</option>
                    {% endif %}{% if page == "notes" %}
                    <option value="/notes" selected>Notes</option>
                    {% else %}
                    <option value="/notes" >Notes</option>
                    {% endif %}{% if page == "quotes" %}
                    <option value="/quotes" selected>Quotes</option>
                    {% else %}
                    <option value="/quotes" >Quotes</option>
                    {% endif %}{% if page == "links" %}
                    <option value="/links" selected>Links</option>
                    {% else %}
                    <option value="/links">Links</option>
                    {% endif %}{% if page == "settings" %}
                    <option value="/settings" selected>Settings</option>
                    {% else %}
                    <option value="/settings">Settings</option>
                    {% endif %}{% if page == "feed" %}
                    <option value="/feed" selected>Feed</option>
                    {% else %}
                    <option value="/feed">Feed</option>
                    {% endif %}


                </select>
                {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">SignUp</a></li>
                <p>not logged in</p>
                {% endif %}
            </ul>
        </header>

        {% block content %}{% endblock %}

    </body>
</html>
