{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% if session.get('user',default=None) != None %}
<section>
    <form action="/" method="POST">
        <h3>Create a reminder</h3>
        <label for="message">Message</label>
        <textarea type="text" name="message"></textarea>
        <label for="time">Time</label>
        <input type="text" name="time" id="time">
        <button type="submit" name="reminder-new">Add</button>
    </form>
    <ul>
    {% for reminder in reminders %}    
    <li>
         
        <form action="/{{reminder['pk']}}" method="POST">
            <input name="reminder-method" type="submit" 
            value={{"Call" if reminder['remind_method'] == "call" else "Text"}}>
            <input name="reminder-reocc" type="submit" 
            value="{{"Reoccurring" if reminder['reoccurring'] == "true" else "One Time"}}">
            - {{reminder['time']}} - {{reminder['message']}}
            <a href="/delete-item/reminder/{{reminder['pk']}}">del</a>
            <a href="/edit-reminder-{{reminder['pk']}}">edit</a>
        </form>
    </li>
    {% endfor %}
    </ul>
</section>
<section>
    <form action="/" method="POST">
        <h3>Create a notebag</h3>        
        <label for="bag-name">Bag Name</label>
        <input name="bag-name" type="text">
        <input type="submit" name="bag-name" value="Create">
    </form>
    <ul>
        {% for notebag in notebags %}
        <li>
            <form action="/note-to-{{notebag['name']}}" method="POST">
            <textarea type="text" name="note" placeholder="note to bag: {{notebag['name']}}"></textarea>
            <input type="submit" name="note" value="Add">
            {% if notebag['name'] != "main" %}
            <a href="/delete-item/notebag/{{notebag['name']}}">del</a>
            {% endif %}
            </form>
            {% for note in notebag['notes'] %}
            <ul>
                <li>{{note['time']}} - {{note['message']}} 
                    <a href="/delete-item/note/{{note['pk']}}">del</a>
                </li>
            </ul>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</section>
<section>
    <form action="/" method="POST">
        <h3>Save an Idea:</h3>
        <textarea type="text" name="message" placeholder="type here"></textarea>
        <input type="submit" name="idea" value="Add">
    </form>
    <ul>
    {% for idea in ideas %}
    <li>
        {{idea['message']}} 
        <a href="/delete-item/idea/{{idea['pk']}}">del</a>
        <a href="/edit-idea-{{idea['pk']}}">edit</a>
    </li>
    {% endfor %}
    </ul>
</section>

{% else %}
not logged in!
{% endif %}
{% endblock %}

