{% extends 'base.html' %}

{% block title %}Quotes{% endblock %}
{% block content %}
    <section>
    <form action="/quotes" method="POST">
        <h3>Save a Quote:</h3>
        <textarea type="text" name="quote" placeholder="type here"></textarea>
        <input type="submit" name="quote" value="Add">
    </form>
    <ul>
    {% for quote in quotes %}
        <li>
            {{quote['quote']}} 
            <a href="/delete-item/quote/{{quote['pk']}}">del</a>
            <a href="/edit-quote-{{quote['pk']}}">edit</a>
        </li>
    {% endfor %}
    </ul>
    </section>
{% endblock %}
