{% extends 'base.html' %}
{% block title %}SignUp{% endblock %}
{% block content %}
<form action="/signup" method="POST">
    <label for="username">Username</label>
    <input name="username" type="text">
    <label for="password">Password</label>
    <input name="password" type="text">
    <label for="phone">Phone</label>
    <input name="phone" type="number">
    <lable for="code">SignUp Code</lable>
    <input name="code" type="text">
    <button type="submit">SignUp</button>
</form>
SignUp!
{% endblock %}
