<!DOCTYPE html>
<html>
    <head>
        <title>home</title>
    </head>
    <body>
        <form action="/" method="POST">
            <h3>Create a reminder</h3>
            <label for="message">Message</label>
            <input type="text" name="message" id="message">
            <label for="time">Time</label>
            <input type="text" name="time" id="time">
            <button type="submit">Add</button>
        </form>
        <br>
        <form action="/" method="POST">
            <h3>Get reminders for</h3>
            <input type="submit" name="all" value="All">
            <input type="submit" name="today" value="Today">
            <input type="submit" name="this-hour" value="This Hour">
            <input type="submit" name="this-minute" value="This Minute">
            <input type="submit" name="test-data" value="Load Test Data(3 items)">
            <input type="submit" name="delete-data" value="Delete Data">
        </form>
        <br>
        {% for reminder in reminders %}
        <div>{{reminder["time"]}} - {{reminder["message"]}}</div>
        {% endfor %}
    </body>

</html>
