{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<section>
    <form action="/" method="POST">
        <h3>Get reminders for</h3>
        <input type="submit" name="all" value="All">
        <input type="submit" name="today" value="Today">
        <input type="submit" name="this-minute" value="This Minute">
        <input type="submit" name="call-me" value="Call Me">
        <input type="submit" name="text-me" value="Text Me">
        <input type="submit" name="test-data" value="Load Test Data(3 items)">
        <input type="submit" name="delete-data" value="Delete Data">
    </form>

    <ul>
    {% for reminder in reminders %}    
    <li>{{reminder['time']}} - {{reminder['message']}}</li>
    {% endfor %}
    </ul>
</section>
<section>
    <form action="/" method="POST">
        <h3>Create a reminder</h3>
        <label for="message">Message</label>
        <input type="text" name="message" id="message">
        <label for="time">Time</label>
        <input type="text" name="time" id="time">
        <button type="submit">Add</button>
    </form>
</section>

{% endblock %}
