{% extends 'base.html' %}
{% block title %}Settings{% endblock %}
{% block content %}
    <section>
        <form action="/settings" method="POST">
            <label for="new_phone">Phone:</label>
            <input type="text" name="new_phone" value="{{user['phone']}}">
            <input type="submit" name="new_phone" value="Change">
        </form>
    </section>
    <br>
    <section>
        <form action="/settings" method="POST">
        <input type="password" name="password" placeholder="Write New Password" value="">
        <input type="submit" name="change-password" value="Change Password">
        </form>
    </section>
{% endblock %}
