{% extends 'base.html' %}
{% block title %}Settings{% endblock %}
{% block content %}
    <section>
        <form action="/settings" method="POST">
        Phone: {{user['phone']}}
        <button type="submit" name="phone-change">Change</button>
        </form>
    </section>
    <br>
    <section>
        <form action="/settings" method="POST">
        <input type="password" name="password" placeholder="Write New Password" value="">
        <input type="submit" name="change-password" value="Change Password">
        </form>
    </section>
{% endblock %}
